.platform:not(:first-of-type) {
    margin-left: 145px;
    margin-right: 10px;
}

.page-host button.deletebuttoncreate {
    padding: 3px 5px 2px 5px;
    margin: 10px 0px 10px 0px;
    font-family: verdana;
    font-size: 10px;
}
.platformdouble {
    color: red;
}