p {
    margin: 0px;
}

.li-item {
    background-color: #D8D8D8;
    margin-bottom: 20px;
    padding: 10px;
}

.list {
    background-color: white;
    margin-left: 20px;
}

.label {
    font-weight: bold;
}